In [1]:
import itertools
import difflib
import pandas as pd

In [4]:
def get_reasons(result):
    sent_orig=""
    result1=[]
    for i in range(len(result)):
        if i!=0 and i!=1 and '======================================== SAMPLE' not in result[i] and '<|endoftext|\n' not in result[i] and '<|endoftext|>' not in result[i]:
            if len(result[i].split()) > 4:
                result1.append(result[i].rstrip('\n'))
    sent_orig=str(result[1].rstrip('\n'))
    orig.append(sent_orig + ' <eol>')
    temp=set(result1)
    result1=list(temp)
    x=(difflib.get_close_matches(sent_orig, result1, n=3))
    rest=list(set(result1) - set(x))
    len1=len(x)
    if len1 == 3:
        reason1.append(x[0] + ' <eol>')
        reason2.append(x[1] + ' <eol>')
        reason3.append(x[2] + ' <eol>')
    elif len1 == 2:
        reason1.append(x[0] + ' <eol>')
        reason2.append(x[1] + ' <eol>')
        if len(rest) >= 1:
            reason3.append(rest[0] + ' <eol>')
        else:
            reason3.append(' <eol>')
    elif len1 == 1:
        reason1.append(x[0] + ' <eol>')
        if len(rest) >= 2:
            reason2.append(rest[0] + ' <eol>')
            reason3.append(rest[1] + ' <eol>')
        else:
            reason2.append(' <eol>')
            reason3.append(' <eol>')
    elif len1 == 0:
            if len(rest) >= 3:
                reason1.append(rest[0] + ' <eol>')
                reason2.append(rest[1] + ' <eol>')
                reason3.append(rest[2] + ' <eol>')
            elif len(rest) >= 2:
                reason1.append(rest[0] + ' <eol>')
                reason2.append(rest[1] + ' <eol>')
                reason3.append(' <eol>')
            elif len(rest) >= 1:
                reason1.append(rest[0] + ' <eol>')
                reason2.append(' <eol>')
                reason3.append(' <eol>')
            else:
                reason1.append(' <eol>')
                reason2.append(' <eol>')
                reason3.append(' <eol>')

In [5]:
orig = []
reason1=[]
reason2=[]
reason3=[]
for i in range(1000):
    with open("output.txt") as fp:
        str1 = "Test Sample: %d" %(i+1)
        str2 = "Test Sample: %d" %i
        result = list(itertools.takewhile(lambda x: str1 not in x, itertools.dropwhile(lambda x: str2 not in x, fp)))
        get_reasons(result)

In [6]:
df = pd.DataFrame(columns=['FalseSent', 'GPT2 Reason 1', 'GPT2 Reason 2', 'GPT2 Reason 3'])

In [7]:
df['FalseSent'] = orig
df['GPT2 Reason 1'] = reason1
df['GPT2 Reason 2'] = reason2
df['GPT2 Reason 3'] = reason3

In [8]:
df

,FalseSent,GPT2 Reason 1,GPT2 Reason 2,GPT2 Reason 3
0,He loves to stroll at the park with his bed <eol>,no one sleeps in a park. <eol>,the park is a place to sleep. <eol>,you can fall asleep in a bed <eol>
1,The inverter was able to power the continent. ...,the inverter is not able to power the continen...,the inverter can not power the continent. <eol>,the inverter cannot power the continent. <eol>
2,The chef put extra lemons on the pizza. <eol>,pour lemons on the pizza. <eol>,lemon is a fruit and doesn't belong on <eol>,you can't eat lemons at a restaurant. <eol>
3,sugar is used to make coffee sour <eol>,"sugar is used to make coffee sour, not sour. <...",sugar is not a drink to make coffee sour <eol>,sugar is not a drink. <eol>
4,There are beautiful planes here and there in t...,there is no beautiful plane in the garden. <eol>,planes are flying around on the earth. <eol>,planes cannot fly in the garden <eol>
...,...,...,...,...
995,"If it is a sunny day, you would got wet. <eol>",a sunny day is when it <eol>,seeds are moist and would not get wet. <eol>,"the sun is hot, so it would not get wet. <eol>"
996,ice hockey is a financial institution <eol>,financial institution is not a legal entity to...,"sports finance cannot help you, as it costs to...",financial institution cannot help you in sport...
997,He put water without a container in the freeze...,"a freezer is for storing food and alcohol, not...",a freezer is not a container to <eol>,a freezer is not a container to store food. <eol>
998,The desert has sand that you can drink. <eol>,sand is not an alcoholic <eol>,sand is not a drink. <eol>,sand is not a food. <eol>
999,My friend runs for 2 inches every day. <eol>,people often run in a clock. <eol>,people can be run for 2 inches but not 2. <eol>,you can't run in a clock <eol>

In [12]:
df1 = pd.read_csv('subtaskC_test_data.csv')
df2 = pd.read_csv('subtaskC_gold_answers.csv', names=['Reason 1', 'Reason 2', 'Reason 3'])

In [13]:
df1

       id                                          FalseSent
0    1175        He loves to stroll at the park with his bed
1     452      The inverter was able to power the continent.
2     275            The chef put extra lemons on the pizza.
3     869                  sugar is used to make coffee sour
4      50  There are beautiful planes here and there in t...
..    ...                                                ...
995  1114           If it is a sunny day, you would got wet.
996     8              ice hockey is a financial institution
997  1945  He put water without a container in the freeze...
998  1053            The desert has sand that you can drink.
999  1123             My friend runs for 2 inches every day.

[1000 rows x 2 columns]

In [14]:
frames=[df1,df2]
result_test=pd.concat(frames, axis=1)

In [15]:
result_test

,id,FalseSent,Reason 1,Reason 2,Reason 3
0,1175.0,He loves to stroll at the park with his bed,NaN,NaN,NaN
1,452.0,The inverter was able to power the continent.,NaN,NaN,NaN
2,275.0,The chef put extra lemons on the pizza.,hotness will evaporate water,"Water makes humidity, not temperature.",There needs to be a presence of moisture for h...
3,869.0,sugar is used to make coffee sour,NaN,NaN,NaN
4,50.0,There are beautiful planes here and there in t...,NaN,NaN,NaN
...,...,...,...,...,...
1990,NaN,NaN,American Football balls are not round. They ha...,American footballs have a unique shape and are...,They are shaped like spheroid.
1991,NaN,NaN,People can not eat an entire zebra.,Zebra is a wild animal and cannot be eaten .,A whole zebra does not fit into a person's sto...
1993,NaN,NaN,Spoons are not used for slicing food like a kn...,Spoons are not sharp enough to cut meat.,Spoons are used for scooping.
1996,NaN,NaN,People use eyes but not hands to see the world,No-one sees by hand.,Hands are not used to see with.
1997,NaN,NaN,hard-working' means he pay times on serious th...,hard working' guys work or study for their maj...,hard-working' people don't use a lot of time f...

In [16]:
reasons = []
for i in range(1000):
    r1 = str(df.iloc[i]['GPT2 Reason 1'])
    #r2 = str(df.iloc[i]['GPT2 Reason 2'])
    #r3 = str(df.iloc[i]['GPT2 Reason 3'])
    #r = r1 + r2 + r3
    reasons.append(r1)

In [17]:
df_final = pd.DataFrame(columns=['id', 'reasons'])

In [18]:
df_final['id'] = df1['id']

In [19]:
df_final['reasons'] = reasons

In [20]:
df_final

       id                                            reasons
0    1175                     no one sleeps in a park. <eol>
1     452  the inverter is not able to power the continen...
2     275                    pour lemons on the pizza. <eol>
3     869  sugar is used to make coffee sour, not sour. <...
4      50   there is no beautiful plane in the garden. <eol>
..    ...                                                ...
995  1114                       a sunny day is when it <eol>
996     8  financial institution is not a legal entity to...
997  1945  a freezer is for storing food and alcohol, not...
998  1053                     sand is not an alcoholic <eol>
999  1123                 people often run in a clock. <eol>

[1000 rows x 2 columns]

In [23]:
df_final.to_csv('subtaskC_answers_gpt2_124M.csv', header = False, index = False)